PUSHN 11
PUSHS "INTRODUZA UM NUMERO DECIMAL INTEIRO:"
WRITES
PUSHS "\n"
WRITES
READ
ATOI
STOREG 0
PUSHI 2
STOREG 1
DO10BEGIN1:
PUSHG 1
PUSHI 9
INFEQ
JZ DO10END2
PUSHG 0
STOREG 5
PUSHG 1
STOREG 6
PUSHA FCONVRT
CALL
STOREG 2
PUSHS "BASE "
WRITES
PUSHG 1
WRITEI
PUSHS ": "
WRITES
PUSHG 2
WRITEI
PUSHS "\n"
WRITES
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP DO10BEGIN1
DO10END2:
STOP
FCONVRT:
PUSHI 0
STOREG 10
PUSHI 1
STOREG 9
PUSHG 5
STOREG 7
LCONVRT20:
PUSHG 7
PUSHI 0
SUP
JZ ELSE3
PUSHG 7
PUSHG 6
MOD
STOREG 8
PUSHG 10
PUSHG 8
PUSHG 9
MUL
ADD
STOREG 10
PUSHG 7
PUSHG 6
DIV
STOREG 7
PUSHG 9
PUSHI 10
MUL
STOREG 9
JUMP LCONVRT20
JUMP ENDIF4
ELSE3:
ENDIF4:
PUSHG 10
STOREG 4
PUSHG 4
RETURN
