PUSHN 3
PUSHF 3.14
STOREG 0
PUSHF 2000.0
STOREG 1
PUSHI 1
STOREG 2
PUSHG 2
PUSHG 0
PUSHG 1
FINF
MUL
JZ ELSE1
PUSHS "VALIDO"
WRITES
PUSHS "\n"
WRITES
JUMP ENDIF2
ELSE1:
PUSHS "INVALIDO"
WRITES
PUSHS "\n"
WRITES
ENDIF2:
STOP
