PUSHN 7
PUSHI 0
STOREG 6
PUSHS "Introduza 5 numeros inteiros:"
WRITES
PUSHS "\n"
WRITES
PUSHI 1
STOREG 5
DO30BEGIN1:
PUSHG 5
PUSHI 5
INFEQ
JZ DO30END2
PUSHGP
PUSHI 0
PUSHG 5
PUSHI 1
SUB
ADD
PADD
READ
ATOI
STORE 0
PUSHG 6
PUSHGP
PUSHI 0
PUSHG 5
PUSHI 1
SUB
ADD
PADD
LOAD 0
ADD
STOREG 6
PUSHG 5
PUSHI 1
ADD
STOREG 5
JUMP DO30BEGIN1
DO30END2:
PUSHS "A soma dos numeros e: "
WRITES
PUSHG 6
WRITEI
PUSHS "\n"
WRITES
STOP
